/* font-family: "Black Han Sans", sans-serif;
font-family: "Noto Sans KR", sans-serif; */

body {
  background-color: #393e46;
  color: #eeeeee;
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

/* Nav Section */

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  font-family: "Black Han Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.nav-image {
  width: 80%;
}

/* Title Section */
.title-row {
  padding: 2rem 2rem;
  text-align: center;
  align-items: center;
}

/* Product Section */
.carousel-item {
  padding: 7% 15%;
}

/* Footer Section */
.footer {
  text-align: center;
}

/* Contact Page */
.card {
  background-color: #222831;
  color: #eee;
}
